{% extends "layout.html" %}
{% block content %}
    <div>
        <form action="">
            <table>
                <caption>Stock Table</caption>
                <thead>
                    <tr>
                        <td>Product Id</td>
                        <td>Product Name</td>
                        <td>Amount(full)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            <select name="" id="">
                                <option value="">Mint</option>
                                <option value="">Gum</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="" id="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock content %}